<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bolin.mapper.AppMapper">

    <resultMap id="BaseResultMap" type="com.bolin.pojo.App">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="appname" column="appName" jdbcType="VARCHAR"/>
            <result property="appdesc" column="appDesc" jdbcType="VARCHAR"/>
            <result property="appicon" column="appIcon" jdbcType="VARCHAR"/>
            <result property="apptype" column="appType" jdbcType="TINYINT"/>
            <result property="scoringstrategy" column="scoringStrategy" jdbcType="TINYINT"/>
            <result property="reviewstatus" column="reviewStatus" jdbcType="INTEGER"/>
            <result property="reviewmessage" column="reviewMessage" jdbcType="VARCHAR"/>
            <result property="reviewerid" column="reviewerId" jdbcType="BIGINT"/>
            <result property="reviewtime" column="reviewTime" jdbcType="TIMESTAMP"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>


    <!-- 定义 resultMap -->
    <resultMap id="AppVo1ResultMap" type="com.bolin.demos.vo.AppVo1">
        <result property="id" column="id"/>
        <result property="appName" column="appName"/>
        <!-- 处理 User 对象的嵌套映射 -->
        <association property="user" resultMap="UserResultMap"/>



        <collection property="questionList" ofType="com.bolin.pojo.Question"  resultMap="QuestionResultMap"/>


        <collection property="questionContent" ofType="java.lang.String">
                <result column="questionContent"/>
        </collection>

    </resultMap>
<!--先去掉这里的干扰-->
<!--    <collection property="questionContent" ofType="java.lang.String">-->
<!--        <result column="questionContent"/>-->
<!--    </collection>-->
    <resultMap id="QuestionResultMap" type="com.bolin.pojo.Question">
<!--        <id property="id" column="id" jdbcType="BIGINT"/>-->
        <id property="id" column="questionId" jdbcType="BIGINT"/>
        <result property="questioncontent" column="questionContent" jdbcType="VARCHAR"/>
        <result property="appid" column="appId" jdbcType="BIGINT"/>
        <result property="userid" column="userId" jdbcType="BIGINT"/>
        <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="UserResultMap" type="com.bolin.pojo.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="useraccount" column="userAccount" jdbcType="VARCHAR"/>
        <result property="userpassword" column="userPassword" jdbcType="VARCHAR"/>
        <result property="unionid" column="unionId" jdbcType="VARCHAR"/>
        <result property="mpopenid" column="mpOpenId" jdbcType="VARCHAR"/>
        <result property="username" column="userName" jdbcType="VARCHAR"/>
        <result property="useravatar" column="userAvatar" jdbcType="VARCHAR"/>
        <result property="userprofile" column="userProfile" jdbcType="VARCHAR"/>
        <result property="userrole" column="userRole" jdbcType="VARCHAR"/>
        <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>




    <!-- 使用 resultMap 定义查询 -->
    <select id="selectTestByXml" resultMap="AppVo1ResultMap">
        SELECT app.appName, app.id, question.questionContent
        FROM yudada.app
                 JOIN yudada.question ON app.id = question.appId
        <where>
            <if test="userId != null">
                AND app.id >= #{userId}
            </if>
        </where>
    </select>

    <sql id="Base_Column_List">
        id,appName,appDesc,
        appIcon,appType,scoringStrategy,
        reviewStatus,reviewMessage,reviewerId,
        reviewTime,userId,createTime,
        updateTime,isDelete
    </sql>
</mapper>
